<!DOCTYPE html>
<html ng-app="logoApp" lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Logo</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="main.css" type="text/css">
        <script src="angular.min.js" type="text/javascript"></script>
        <script src="moment.js" type="text/javascript"></script>
        <script src="moment-precise-range.js" type="text/javascript"></script>
        <script src="angular-moment.min.js"></script>
        <script src="ui-bootstrap-tpls-2.1.4.min.js"></script>
        <script src="belo.js"></script>
        <script src="elo.js"></script>
        <script src="app.js"></script>
    </head>
    <body>

    <div ng-controller="MainController as $main" class="container">
        <div class="visible-print-block">
          <div class="pull-right">Bilan le : {{ $main.evaluation_date | date }}</div>
          <h1>

            {{ $main.child.name }}
            <small>
              {{ (-($main.child.birth_date | amDifference:$main.evaluation_date : 'months') / 12 ) | number:0 }}
              ans -
              {{ (-($main.child.birth_date | amDifference:$main.evaluation_date : 'months') % 12 ) | number:0 }}
              mois
            </small>
          </h1>

        </div>

        <div class="hidden-print pull-right">
          <button type="button" onclick="window.print()" class="btn btn-default btn-sm" aria-label="Print">
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
          </button>
          <button type="button" ng-click="$main.export()" class="btn btn-default btn-sm" aria-label="Download">
            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
          </button>
        </div>
        <div class="clearfix"></div>

        <form class="hidden-print form-horizontal">
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">Nom</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="$main.child.name"/>
                </div>
            </div>

            <div class="form-group">
                <label for="" class="col-sm-2 control-label">Date de naissance</label>
                <div class="col-sm-2">
                    <p class="input-group">
                      <input type="text" class="form-control"
                        uib-datepicker-popup="dd/MM/yyyy"
                        ng-change="$main.changeDate()"
                        ng-model="$main.child.birth_date" is-open="popup1.opened"
                        datepicker-options="dateOptions"
                        ng-required="true" close-text="Close" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="popup1.opened = true">
                          <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                      </span>
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label for="" class="col-sm-2 control-label">Date du bilan</label>
                <div class="col-sm-2">
                    <p class="input-group">
                      <input type="text" class="form-control"
                        uib-datepicker-popup="dd/MM/yyyy"
                        ng-change="$main.changeDate()"
                        ng-model="$main.evaluation_date" is-open="popup2.opened"
                        datepicker-options="dateOptions"
                        ng-required="true" close-text="Close" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="popup2.opened = true">
                          <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                      </span>
                    </p>
                </div>

            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Classe</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="$main.child.class"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Age Réel</label>
                <div class="col-sm-10">
                    <p class="form-control-static" ng-if="$main.dateDiff">
                        {{ $main.dateDiff.years }}
                        ans -
                        {{ $main.dateDiff.months }}
                        mois
                    </p>
                </div>
            </div>
        </form>
        <uib-tabset active="active">
            <uib-tab index="0" heading="BELO" classes="hidden-print" select="$main.level='1_cp'; $main.active='belo'">
                <div class="belo">

                    <h2>Belo
                      <small class="visible-print-block pull-right">
                        {{ $main.belo.levels[$main.level] }}
                      </small>
                    </h2>


                    <div class="form-group hidden-print">
                      <div class="btn-group">
                        <label class="btn btn-primary" ng-model="$main.level" uib-btn-radio="level" ng-repeat="(level, label) in $main.belo.levels">
                          {{ label }}
                        </label>
                      </div>
                    </div>

                    <table class="table table-condensed table-hover table-bordered table-results">
                        <thead>
                            <th>Epreuve</th>
                            <th>Score Brut</th>
                            <th>Percentile</th>
                            <th></th>
                        </thead>
                        <tr
                         ng-repeat='proof in $main.belo.proofs'
                         ng-class="{'active': ! $main.belo.norms[proof.ref][$main.level]}"
                         ng-if="$main.belo.norms[proof.ref][$main.level] || ! $main.hide_unused_proofs"
                         >
                            <td>
                                {{ proof.label }}
                                <span class="text-muted small pull-right tips">/{{ proof.max }}</span>
                            </td>
                            <td>
                                <input ng-model="proof.score" type="number" min="0" max="{{ proof.max }}" class="input-xs form-control">
                            </td>
                            <td>
                                {{ $main.belo.norms[proof.ref][$main.level][proof.score] }}
                            </td>
                            <td>
                                <div class="progress" ng-if="$main.belo.norms[proof.ref][$main.level][proof.score]">
                                    <div
                                        class="progress-bar"
                                        role="progressbar"
                                        aria-valuenow="2"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                        style="min-width: 2em; width: {{ $main.belo.norms[proof.ref][$main.level][proof.score] }}%;"
                                        ng-class="{'progress-bar-warning': $main.belo.norms[proof.ref][$main.level][proof.score] < 25, 'progress-bar-danger': $main.belo.norms[proof.ref][$main.level][proof.score] < 12}">
                                        {{ $main.belo.norms[proof.ref][$main.level][proof.score] }}
                                        <sup>%ile</sup>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>
                <!-- end belo -->
            </uib-tab>

            <uib-tab index="1" heading="ELO" classes="hidden-print" select="$main.level='ps';$main.active='elo'">
                <div class="elo">
                    <h2>
                      ELO
                      <small class="visible-print-block pull-right">
                        {{ $main.elo.levels[$main.level] }}
                      </small>
                    </h2>
                    <div class="form-group hidden-print">
                      <div class="btn-group">
                        <label class="btn btn-primary" ng-model="$main.level" uib-btn-radio="level" ng-repeat="(level, label) in $main.elo.levels">
                          {{ label }}
                        </label>
                      </div>
                    </div>

                    <table class="table table-condensed table-hover table-bordered table-results">
                        <thead>
                            <th>Epreuve</th>
                            <th>Score Brut</th>
                            <th>Percentile</th>
                            <th>σ</th>
                            <th></th>
                        </thead>
                        <tr ng-repeat='proof in $main.elo.proofs'
                          ng-class="{'active': ! $main.elo.norms[proof.ref][$main.level]}"
                          ng-if=" $main.elo.norms[proof.ref][$main.level] || ! $main.hide_unused_proofs"
                          >
                            <td>
                                {{ proof.label }}
                                <span class="text-muted small pull-right tips">/{{ $main.elo.norms[proof.ref][$main.level].length - proof.min}}</span>
                            </td>
                            <td>
                                <input ng-model="proof.score" type="number" min="0" max="{{ proof.max }}" class="input-xs form-control">
                            </td>
                            <td>
                                {{ $main.elo.norms[proof.ref][$main.level][proof.score] }}
                            </td>
                            <td>
                                <div ng-if="proof.score !== undefined">
                                  <div ng-if="proof.order == 'descending'">
                                    {{( $main.elo.std_dev[proof.ref][$main.level].avg - proof.score ) / $main.elo.std_dev[proof.ref][$main.level].dev | number:1 }}
                                  </div>
                                  <div ng-if="proof.order != 'descending'">
                                    {{( proof.score - $main.elo.std_dev[proof.ref][$main.level].avg ) / $main.elo.std_dev[proof.ref][$main.level].dev | number:1 }}
                                  </div>
                                </div>
                            </td>
                            <td>
                                <div class="progress" ng-if="$main.elo.norms[proof.ref][$main.level][proof.score]">
                                    <div
                                        class="progress-bar"
                                        role="progressbar"
                                        aria-valuenow="2"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                        style="min-width: 2em; width: {{ $main.elo.norms[proof.ref][$main.level][proof.score] }}%;"
                                        ng-class="{'progress-bar-warning': $main.elo.norms[proof.ref][$main.level][proof.score] < 25, 'progress-bar-danger': $main.elo.norms[proof.ref][$main.level][proof.score] < 12}">
                                        {{ $main.elo.norms[proof.ref][$main.level][proof.score] }}
                                        <sup>%ile</sup>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- end belo -->
            </uib-tab>
        </uib-tabset>

    </body>
</html>
