.input-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
  border-radius: 3px;
}

.table-results td:last-child{
    width:30%;
}
.table-results .progress{
    margin-bottom: 0;
}

.table-results .tips {
  display: none;
}
.table-results tr:hover .tips {
  display: inline;
}


@media print{
      .progress{
          background-color: #F5F5F5 !important;
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F5F5F5', endColorstr='#F5F5F5')" !important;
      }
      .progress-bar, .progress-bar-info{
          display: block !important;
          background-color: #5BC0DE !important;
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#5BC0DE', endColorstr='#5BC0DE')" !important;
      }
      .progress-bar-warning{
          display: block !important;
          background-color: #F0AD4E !important;
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F0AD4E', endColorstr='#F0AD4E')" !important;
      }
      .progress-bar-danger{
          display: block !important;
          background-color: #D9534F !important;
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#D9534F', endColorstr='#D9534F')" !important;
      }

      .progress, .progress > .progress-bar {
          display: block !important;
          -webkit-print-color-adjust: exact !important;

          box-shadow: inset 0 0 !important;
          -webkit-box-shadow: inset 0 0 !important;
      }
  }
